html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    min-width: 1200px;
    font-size: 15px;
    line-height: 1.4em;
}

* {
    box-sizing: border-box;
}

.text-right {
    text-align: right;
}

.banner {
    background-color: #FBFBFB;
}

.banner-container {
    width: 1200px;
    height: 941px;
    margin: 0 auto;
    background-image:
        url("./images/top-left-arrow.png"),
        url("./images/top-right-arrow1.png"),
        url("./images/bottom-left-arrow.png"),
        url("./images/bottom-right-arrow.png"),
        url("./images/bg.jpg");
    background-size: auto, auto, auto, auto, cover;
    background-repeat: no-repeat;
    background-position: 305px 46px, 726px 46px, 305px 514px, 670px 513px, center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 15px 140px 0;
}

.banner-content {
    display: flex;
    justify-content: space-between;
}

.banner-item {
    width: 300px;
}

.banner-item-right {
    width: 250px;
}

.banner-item h4,
.banner-item p,
.banner-item ul {
    margin: 0;
    padding: 0;
}

.banner-item ul {
    list-style-type: none;
}

.banner-item li:before {
    content: "\2022";
}

.banner-item button {
    background-color: #78bd48;
    color: white;
    width: 120px;
    border: 0;
    padding: 5px;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
}